@{

}

<h2>Posts</h2>
@if (Model.Categories.Count == 0)
{
    <p> No post added. Add a new one.</p>
}
else
{
    <ul>
        @foreach (var post in Model.Posts)
        {
            <li>@post.Title</li>
        }
    </ul>
}
