html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.no-underline:link,
.no-underline:visited {
    text-decoration: none;
}

.no-underline:hover,
.no-underline:focus {
    text-decoration: underline;
}